body {
    font-family: sans-serif;
    background-image:url('img/map.jpg');
    background-repeat: repeat;
}
#page {
    width: 500px;
    margin: 0.5em auto;
    background: #ffffffC0;
    padding: 0.75em;
    border-radius: 10px;
}
h1 {
    font-size: 150%;
    margin:0;
    padding:0;
}
#messaging {
    color: #990;
}
#lat, #lon {
    font-family: monospace;
    width: 8em;
}
#lon {
    font-family: monospace;
    width: 8em;
}
#radius {
    font-family: monospace;
    width: 8em;
    color: #666;
    border: solid #ccc 1px;
    background-color: #ddd;
    font-style: italic;
}
td.field{
    padding-left: 1em;
}
.mapArea
{
    padding: 0.1em 0.5em;
    margin-top: 0.1em;
    margin-bottom: 1em;
}
.mapVendor
{
    font-size: 150%;
}
label.labelVendor {
    cursor: pointer;
}
label.labelVendor input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}
label.labelVendor span {
    padding: 7px 14px;
    border: 2px solid #ccc;
    display: inline-block;
    color: #ccc;
    border-radius: 3px;
    text-transform: uppercase;
}
label.labelVendor input:checked + span {
    border-color: #000;
    color: #000;
}
.cardArea
{
    margin: 2em 0 0 0;
    width: 500px;
    height:300px;
    position: relative;
}
.cardText {
    padding: 0.25em 0.5em;
}
#cardGps {
    border: solid black 1px;
    border-radius: 5px;
    width: 100%;
    height:300px;
}
#cardGo {
    border: solid black 1px;
    border-radius: 5px;
    width: 100%;
    height:300px;
}
.centeredButton {
    text-align: center;
    position: absolute;
    bottom: 2px;
    width: 500px;
}
.actionButton {
    border: solid black 1px;
    border-radius: 10px;
    font-size: 200%;
    font-weight: bold;
    width: 480px;
}
.load {
}
.go {
}
.buttonGreen {
    background-color: #cfc;
}
.buttonGray {
    background-color: #ccc;
}
#footer, #footer a {
    color: #ccc;
    margin-top: 2em;
}
@media only screen
and (max-device-width : 500px)
{
    #page {
        width: 100%;
        margin: 0;
        background: #ffffffC0;
        padding: 0.75em;
    }
    .centeredButton {
        width: 95%;
    }
    .actionButton {
        border: solid black 1px;
        border-radius: 10px;
        font-size: 100%;
        font-weight: bold;
        width: 90%;
        white-space: normal;
    }
    .cardArea
    {
        margin: 2em 0 0 0;
        width: 95%;
        height:300px;
        position: relative;
    }
}